* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* Loading */
.loading {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

/* App */
.appA {
  background-color: black;
  color: violet;
}
