* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}

body {
  background-color: black;
}

/* Loading */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* App */
.appA {
  color: white;
  display: flex;
  justify-content: center;
}

/* Navigation */
.navbar {
  background-color: red;
}

.navbar.colorChange {
  background-color: #222222;
  box-shadow: 0px 3px 3px black;
}

/* Title */
.smallTitle {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* Contact */
.contactIcons {
  display: flex;
  justify-content: space-between;
  color: #959595;
}

/* Home */
.homePage {
  height: 100vh;
  width: 100vw;
  background-image: url("/public/images/HomeTop.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.homeContactIcons {
  width: 35%;
  margin: auto;
}

/* About */
.profileImg {
  width: 80%;
}

.aboutContact {
  width: 100%;
  display: flex;
  align-items: center;
}

/* Project */
.projectDialogTop {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("/public/images/projectImg/project1.jpg");
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}
