* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* text-decoration: none; */
}

body {
  background-color: black;
}

/* Loading */
.loading {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

/* App */
.appA {
  color: white;
  display: flex;
  justify-content: center;
}

/* Navigation */
.navbar {
  background-color: yellow;
}

.navbar.colorChange {
  background-color: #222222;
  /* box-shadow: 5px 5px 5px 5px rgb(0, 0, 0); */
  box-shadow: 0px 3px 3px black;
}

/* Home */
.homePage {
  border: yellow;
  height: 100vh;
  max-width: 100%;
  background-image: url("/public/images/HomeTop.jpg");
  background-size: cover;
  background-position: center;
}
